// * Color
$color-bg: #f0e8e2;
$color-text: #271d15;
$color-button: #4e4431;
$color-button-hover: #ac8a61;
$color-border: #d2cac4;
$color-input: #f5f2ec;
// * ============================
// * Font
$font-title: "Merriweather Variable", serif;
$font-sub-title: "Playfair Display", serif;
$font-normal: "Inter", "Noto Sans KR", sans-serif;
// * ============================
// * Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
