@use "@/assets/scss/variables" as *;
body.home-wrap {
  display: flex;
  flex-direction: column;
  gap: 100px;
  section {
    width: 100%;
    &.gate-container {
      height: 100vh;
      background-image: url("/images/gate.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      div.blur-container {
        width: 100%;
        height: 100%;
        background-color: rgba(#000, 0.3);
        filter: blur(4px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      div.text-container {
        background-color: unset;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1.main-title {
          font-family: $font-title;
          font-weight: $fw-bold;
          font-size: 90px;
          color: $color-bg;
        }
        h3.sub-title {
          font-family: $font-sub-title;
          font-weight: $fw-light;
          font-style: italic;
          font-size: 50px;
          color: $color-bg;
        }
        p.scroll-effect {
          position: absolute;
          bottom: 0;
          color: $color-bg;
          margin-bottom: 30px;
        }
      }
    }

    &.about-container,
    &.coffe-sky-container,
    &.signature-container,
    &.location-container {
      padding: 0 150px;
      // 임시로 영역 확인 위해서 height 지정
      height: fit-content;
      width: 100%;
    }

    &.about-container {
      display: flex;
      flex-direction: column;
      h3 {
        font-family: $font-sub-title;
        font-weight: $fw-bold;
        width: 100%;
        text-align: center;
        font-size: 64px;
        position: relative;
        margin-bottom: 50px;

        &::after,
        &::before {
          content: "";
          width: 40%;
          height: 4px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          border-left: unset;
          border-right: unset;
          border-top: 1px solid $color-border;
          border-bottom: 1px solid $color-border;
        }

        &:after {
          right: 0;
        }
        &::before {
          left: 0;
        }
      }
      div.about-contents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        article.text-container {
          p {
            width: 60%;
            font-size: 48px;
            line-height: 2;
          }
        }
        img {
          width: 600px;
          height: 600px;
        }
      }
    }

    &.coffee-sky-container {
      background-image: url("/images/sky_bg.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 900px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
